<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<!--
 Přidáním xmlns:th… říkáme, že nejde o obyčejný HTML soubor, ale o šablonu Thymeleaf. Můžeme tedy používat speciální „atributy“ začínající „th:“,
 které zpracovává Thymeleaf.
 -->
<head>
    <meta charset="UTF-8">
    <title>Hod kostkou</title>

    <!-- Informace pro mobilní telefony, že mají stránku zobrazovat „normálně“, bez nějakého zvětšování a upravování. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Informace pro prohlížeč, že bude potřeba něco z adresy https://fonts.gstatic.com – prohlížeč se na to může připravit.  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Vložení písma Roboto z Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Odkazy na styly – normalize.css nastaví výchozí vlastnosti stylů, aby se sjednotilo chování prohlížečů. style.css pak přidává vlastní styly pro jednoduché formátování stránky. -->
    <!-- Zápis „@{…}“ můžeš zatím ignorovat. -->
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <!-- Odkaz na „favicon“ – ikona webu, která se zobrazuje někdy u adresního řádku, někdy v oušku záložky/tabu, případně také v oblíbených položkách prohlížeče. -->
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<div>
    <div>
        <!-- Atribut „th:src“ říká, že se v době zpracování šablony serverem má do atributu „src“ dosadit výsledek výrazu „${obrazek}“
         – tedy hodnota atributu „obrazek“ z modelu. -->
        <img class="kostka" src="/images/kostka-1.svg" th:src="${obrazek}"/>
    </div>

    <!-- Atribut „th:text“ říká, že se má v době zpracování šablony na serveru dovnitř elementu „span“ (místo textu „1“)
     vložit výsledek výrazu „${cislo}“ – tedy hodnota atributu „cislo“ z modelu. -->
    <div>Padlo číslo: <span th:text="${cislo}">1</span></div>
</div>
</body>
</html>
